.photo-grid {
    max-width: calc(100% - 96px);
    padding-top: 92px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, minmax(min-content, max-content)) / repeat(4, minmax(min-content, max-content));
    gap: 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template: repeat(4, minmax(min-content, max-content)) / repeat(3, minmax(min-content, max-content));
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        grid-template: repeat(5, minmax(min-content, max-content)) / repeat(2, minmax(min-content, max-content));
        gap: 16px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: calc(100% - 32px);
        grid-template: repeat(12, fit-content(216px)) / 1fr;
        padding-top: 64px;
    }
}