.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    padding-top: 32px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 376px) {
    .cover__subtitle {
        font-size: 4.8vw;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: calc(100% - 32px);
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }
}
