.footer__link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    opacity: 1;
}

.footer__link:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .2s ease 0s;
    -webkit-transition: opacity .2s ease 0s;
    -moz-transition: opacity .2s ease 0s;
    -ms-transition: opacity .2s ease 0s;
    -o-transition: opacity .2s ease 0s;
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}