.place__paragraph {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        line-height: 1.6;
    }
}

@media screen and (max-width: 743px) {
    .place__paragraph {
        padding-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
        max-width: calc(100% - 32px); 
    }   
}

.place__paragraph:nth-of-type(2n) {
    padding-top: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph:nth-of-type(2n) {
        padding-top: 25px;
    }
}



