@import url(../vendor/normalize.css);



.page {
    max-width: 1280px;
    margin: 0;
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.header {
    display: flex;
    padding-top: 28px;
    max-width: 1184px;
    max-height: 52px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    max-width: 177px;
    max-height: 52px;
    z-index: 2;
    align-items: center;
    justify-self: center;
}

.header__lang-links {
    display: flex;
    margin: 0;
}

.header__lang-link {
    max-width: 30px;
    max-height: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.8;
    color: #fff;
    text-decoration: none;
    text-align: right;
}

.header__lang-link:first-of-type {
    margin-right: 18px;
}

.header__lang-link_active {
    text-decoration: underline;
}

.content {
    max-width: 100%;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    max-height: 1005px;
    margin: 0 auto;
}

.lead__title {
    max-width: 720px;
    max-height: 200px;
    padding-top: 56px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    margin: 0;
}

.lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    padding-top: 32px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0;

}

.lead__image {
    display: flex;
    max-width: 100%;
    width: 984px;
    max-height: 615px;
    padding-top: 64px;
    align-self: center;
}

.lead__caption {
    min-width: 158px;
    min-height: 4px;
    padding-top: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: start;
    margin: 0;
}


.intro {
    max-width: 690px;
    max-height: 429px;
    padding-top: 92px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
}

.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding-top: 40px;
}

.intro__list {
    margin: 0;
    padding: 33px 0 0 0;
    list-style: none;
}

.intro__list_point {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
}

.intro__list_span-accent {
    font-weight: 700;
}

.photo-grid {
    padding-top: 92px;
    display: grid;
    grid-template: repeat(3, minmax(min-content, max-content)) / repeat(4, minmax(min-content, max-content));
    gap: 16px;
    justify-items: center;
}

.photo-grid__item {
    width: 100%;
}

.places {
    padding-top: 92px;
    max-width: 984px;
    max-height: 3392px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    column-gap: 40px;
}

.cover {

}

.footer {

}