.cover__title {
    padding-top: 20.6925%;
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.1;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 9.4vw;
        padding-top: 14.97%;
    }
}

@media screen and (max-width: 442px) {
    .cover__title {
        max-width: calc(100% - 16px*2);
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        padding-top: 33px;
        font-size: 32px;
    }
}