.header__lang-links {
    margin: 18px 0 6px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        margin: 14px 0 8px;
    }
}